header {
    height: min-content ;
}

footer {
    background-color: #F6F7FC;
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
}

header section p {
    font-family: 'Roboto';
    font-style: normal;
}

div.card-section {
    width: 100% !important;
}

div.card-section div div {
    margin: 1.0em;
    width: 23rem;
    height: 15rem;
}

div.category-section {
    width: 100% !important;
}

div.category-section div div {
    margin: 1.0em;
}

section.employment-cards-section {
    background-color: #F6F7FC;
}

.menu {
    height: 40px;
}

.header-main-text {
    font-weight: 600px;
    font-size: 40px;
    font-style: normal;
    line-height: 52px;
}

.card-button {
    float: right;
}
