.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3em 4em;
  background-color: #fafafa;
}

.content--wrapper {
  width: 100%;
  max-width: 1311px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5em;
}

.content--jobs {
  width: auto;
  max-width: 812px;
}

.content--plus--content {
  width: auto;
  max-width: 250px;
}
