body {
    font-family: Arial, Arial, Arial, Helvetica, sans-serif;
    background-color: white;
 }

div {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 20px;
    
   
    
    
    
}

input {
    padding: 15px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    background-color: white;
}


.botaoCriarConta {
    background-color: rgb(53,117,226);
    border: none;
    padding: 15px;
    width: 121%;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    

    
}


h1 {
    color: rgb(53,117,226);
    position: absolute; 
}

.bg_input{
    background-color: #f6f7fc;
    width: 310px;
    position: absolute;
    margin-left: 110px;
    height: 300px;
    width: 410px
}



.createAccount{
    position: absolute;
    top: 30%;
    left: 44%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 20px;
    

    
    

}

.inputEmail{
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 200%;
    
}

.inputUsuario{
    width: 200%;
    
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    
    
}
.inputSenha{
    width: 200%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
    



.inputEmail:hover{
    outline: 1px solid #3575e2;
  background-color: #ffffff;
}
.inputSenha:hover{
    outline: 1px solid #3575e2;
  background-color: #ffffff;
}
.inputUsuario:hover{
    outline: 1px solid #3575e2;
  background-color: #ffffff;
}



